@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: #ffffff;
}

img{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#speech{
  position: absolute;
  background-color: #ff0000ff;
	border-radius: 1rem;
  color: white;
  align-items: center;
  max-height: 0;
  transition: max-height 0.15s ease-in;
  overflow: hidden;
}

.speech-show{
  max-height: 500px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0088ffff;
    background-color: #ffffff;
  }
  h1{
    color: #0088ffff;
  }
}
